pydot
pydotplus
graphviz
jupyterlab
ipywidgets
matplotlib-venn
japanize-matplotlib
joypy
fastcluster
biopython
pyfaidx
bcbio-gff
scanpy
python-louvain
leidenalg
umap-learn
phate
ivis
igraph
parc
cairocffi
pysam
pyvcf
lifelines
arviz
pymc3
Theano-PyMC
pyro-ppl
numpyro
jax
pystan
pycaret[full]
autokeras
tensorflow-probability
torch
torchvision
torchaudio
gpytorch
flask
fastapi
gunicorn
uvicorn
streamlit
sphinx
pytest
