setuptools<58.0.0
jupyterlab
ipywidgets
matplotlib-venn
joypy
fastcluster
biopython
pyfaidx
bcbio-gff
scanpy
python-louvain
leidenalg
umap-learn
phate
ivis
igraph
parc
cairocffi
pysam
pyvcf
lifelines
pycaret[full]
autokeras
