pydot
pydotplus
graphviz
jupyterlab
ipywidgets
mkl-service
numpy
pandas
pandas-profiling
openpyxl
scipy
statsmodels
matplotlib
matplotlib-venn
japanize-matplotlib
joypy
seaborn
fastcluster
statannotations
autoviz
requests
scikit-learn
xgboost
lightgbm
catboost
spacy
optuna
hyperopt
ray
tensorflow
keras
tensorflow-probability
torch
torchvision
torchaudio
gpytorch
biopython
pyfaidx
bcbio-gff
scanpy
python-louvain
leidenalg
umap-learn
phate
ivis
igraph
parc
cairocffi
pysam
pyvcf
lifelines
arviz
pymc3
Theano-PyMC
pyro-ppl
numpyro
jax
pystan
pycaret[full]
autokeras
flask
fastapi
gunicorn
uvicorn
python-dotenv
psycopg2-binary
sqlalchemy
streamlit
sphinx
pytest
